"*":
  welcome:
    showOnStartup: false
  core:
    audioBeep: false
    autoHideMenuBar: true
    destroyEmptyPanes: false
    disabledPackages: [
      "archive-view"
      "autosave"
      "background-tips"
      "bookmarks"
      "open-on-github"
      "welcome"
      "wrap-guide"
      "rspec"
    ]
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    excludeVcsIgnoredPaths: false
  editor:
    invisibles: {}
    fontSize: 13
    fontFamily: "Consolas"
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  autosave: {}
  "git-diff": {}
  "markdown-preview":
    useGitHubStyle: true
  "spell-check": {}
  "status-bar": {}
  tabs: {}
  "tree-view":
    hideIgnoredNames: true
  "atom-color-highlight": {}
  pigments:
    markerType: "square-dot"
  "merge-conflicts": {}
  "file-icons":
    coloured: false
  "ruby-test": {}
  toggle: {}
  "toggle-quotes": {}
  "one-light-ui": {}
  "exception-reporting":
    userId: "e4755308-1c4a-7aa4-9240-793dee72c256"
