'*': [
  ['yes', 'no']
  ['up', 'down']
  ['right', 'left']
  ['true', 'false']
  ['high', 'low']
  ['column', 'row']
  ['and', 'or']
  ['not', '']
  ['on', 'off']
  ['in', 'out']
  ['one', 'two', 'three']
  ['first', 'last']
  ['here', 'there']
  ['previous', 'next']
],

'source.ruby': [
  ['if', 'unless']
  ['elsif', 'else']
]
